html {
  font-size: 10px;
}
body {
  background:#ffc600;
  font-family: 'helvetica neue';
  font-weight: 200;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  
}

.recordingContainer {
	display: flex;
  	flex-direction: column;
  	flex: 1;
}

.questionnaire {
	display: flex;
  	flex-direction: column;
  	flex: .75;
  	margin-top: 5em;
  	padding: 1em;
  	border-radius:5px;
  	-webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  	box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  	background-color: white;
  	display: none;
  	transition: all 500ms ease-in-out;
}

.questionnaire.show {
	display: block;	
}

P.q {
	margin: 0;
}

.a {
	padding-bottom: .2em;
	border-bottom: 1px solid black;
	line-height: 2em;
}


.words {
  flex: 1;
  justify-content: center;
  width:50%;
  margin:auto;
  background:white;
  border-radius:5px;
  box-shadow:10px 10px 0 rgba(0,0,0,0.1);
  padding:1rem 2rem 1rem 5rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background-size: 100% 3rem;
  position: relative;
  line-height:3rem;
}
p {
  margin: 0 0 3rem;
}
.words:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

#record {
	margin:50px auto;
	position: relative;
	font-size: 2em;
	background-color: #D3D3D3;
	border-radius: 5rem;
	transition: .2s;
	outline: none;
	height: 2em;
	width: 25%;
	min-width: 10em;
	border: 0.1em solid black;
	cursor: pointer;
}

#record:hover {
	background-color: #bdbdbd;
}

#record[data-recording="true"] {
	background-color: #ff1919;
}
#record[data-recording="true"]:hover {
	background-color: #ff4c4c;
}